<link rel="alternate" type="application/json+oembed" href="{{ jsonURL }}" title="{{ title }} oEmbed Profile" />
{% if xmlURL %}<link rel="alternate" type="text/xml+oembed" href="{{ xmlURL }}" title="{{ title }} oEmbed Profile" />{% endif %}
