<li {% if id %}id="{{ id | escape }}"{% endif %} {% if additionalClasses %}class="{{ additionalClasses }}"{% endif %}><a href="{{ anchor | escape }}" {% if textClasses %}class="{{ textClasses }}"{% endif %}">{{ title | escape }}</a>{{ content }}</li>