{% macro linkRelTags() %}
{{ config.plugin("@akashacms/plugins-base").doLinkRelTags() }}
{% endmacro %}

{% macro canonicalURL() %}
{{ config.plugin("@akashacms/plugins-base").doCanonicalURL(rendered_url) }}
{% endmacro %}

{% macro headerMeta() %}
{% include "ak_headermeta.html.njk" %}
{% endmacro %}

{% macro doPublicationDate() %}
{{ config.plugin("@akashacms/plugins-base").doPublicationDate(publicationDate) }}
{% endmacro %}
