---
title: Directly call @akashacms/plugins-base functions
layout: default.html.njk
---

TODO look up how to invoke this

 <%- config.plugin('@akashacms/plugins-base').doHeaderMetaSync(config, locals) %>
 <%- config.plugin('@akashacms/plugins-base').doGoogleSitemap(locals) %>
